@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InventoryManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Index">@Localizer["Inventories"]</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                    </li>
                }
            </ul>

            <!-- Language Switcher -->
            <ul class="navbar-nav mb-2 mb-sm-0 me-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        🌐 @System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToUpper()
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="langDropdown">
                        <li><a class="dropdown-item" href="?culture=en">English</a></li>
                        <li><a class="dropdown-item" href="?culture=es">Español</a></li>
                        <li><a class="dropdown-item" href="?culture=pl">Polski</a></li>
                    </ul>
                </li>
            </ul>
            <partial name="_SearchBar" />
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
